@charset "EUC-KR";

body {
	text-align : center;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin-left:  auto; 
	margin-right: auto;
}

table tbody th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

table td {
    padding: 10px;
    vertical-align: top;
}